@import url("https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135008,135002,135000");
:root {
  --ash: #70707b;
  --black: #18181b;
  --white: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
  /* background-color: #70a55d; */
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
p {
  color: var(--ash);
  font-size: 18px;
  line-height: 27.9px;
}
/* Navigation Area Starts */
nav {
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 83px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.2)
  ); */
  /* box-shadow: 0px 13px 63px 0px rgba(0, 0, 0, 0.3); */
  z-index: 2;
}
nav .logo {
  padding: 25.5px 5vw;
}
nav .logo img {
  height: 32px;
  /* margin: 25.5px 80px; */
}
header nav .middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle a {
  margin: 4px 12px;
  font-size: 14px;
  font-weight: 400;
  color: var(--ash);
  padding: 4px 12px;
  line-height: 22px;
}
.contact-us {
  margin: 19px 5vw;
  padding: 10px 18px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--black);
}
.hero-wrapper {
  padding: 80px;
}
.hero-wrapper .explore {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.exp-property {
  width: 55%;
}
.exp-property h3 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 400;
}
.exp-details {
  width: 40%;
}
.content-wrapper {
  padding: 80px;
}
.content-wrapper .search {
  padding-bottom: 40px;
}
.content-wrapper table {
  width: 100%;
  border: 1px solid #e4e4e7;
  border-radius: 12px;
}
.content-wrapper table img {
  width: 24px;
  align-items: center;
  margin: 16.5px 12px;
}
.content-wrapper table td {
  display: flex;
  align-items: center;
}
.content-wrapper table p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: var(--ash);
}
.property-wrapping {
  display: flex;
  justify-content: space-between;
}
.property-wrapping .categories {
  width: 25%;
}
.property-wrapping .sell-rent {
  width: 100%;
  display: flex;
  border: 1px solid #e4e4e7;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 24px;
}
.property-wrapping .sell-rent .sell {
  width: 50%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18181b;
  border-radius: 12px;
  /* color: white; */
}
.property-wrapping .sell-rent .sell a{
  color: white;
}
.property-wrapping .sell-rent .rent {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.property-wrapping .sell-rent .rent a{
  color: black;
}
.property-wrapping .category h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
  margin-bottom: 16px;
}
.property-wrapping .category label {
  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
  /* margin-bottom: 30px; */
  /* gap: 30px; */
}
.property-wrapping .property-lists {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-view-more {
  margin: 32px 0;
  padding: 10px 25.5px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  line-height: 25px;
  background-color: var(--black);
}
.img-view-more a {
  color: white;
}
.property-wrapper h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
  color: var(--black);
  margin-bottom: 5px;
}
.property-wrapper p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21.7px;
  gap: 24px;
  /* margin-bottom: 80px; */
}
.property-img .home-img .prop1 img {
  width: 400px;
  height: 320px;
  border-radius: 12px;
  margin-bottom: 1rem;
}
.property-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 16px; */
}
.property-wrapper .hover1 a,
.hover2 a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* margin: 32px 0; */
  padding: 8px 12px;
  border: none;
  border-radius: 22px;
  font-size: 1rem;
  line-height: 25px;
  background-color: var(--black);
  color: var(--white);
  position: absolute;
}
.home-img {
  display: inline-flex;
  /* gap: 15px; */
  position: relative;
  padding-right: 2px;
}
.hover1 a {
  right: 108px;
  top: 1rem;
}
.hover2 a {
  right: 1rem;
  top: 1rem;
}
.property-wrapper .hover1 {
  color: var(--white);
}
.home-img .hover1 img {
  width: 20px;
  height: 20px;
}
.home-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(128, 128, 128, 0.397);
}
.home-details .name img {
  width: 20px;
  height: 20px;
}
.home-details .price-time {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.property-img .specs {
  margin: 20px 5px;
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
}
.property-img .specs img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
/* Need Help Area Starts */
.helping-container {
    width: 100%;
    position: relative;
  }
  .new {
    margin: 1rem;
    background-color: black;
    border-radius: 36px;
    z-index: -3;
  }
  .help-all {
    display: flex;
  }
  .helping-container .help-bg {
    height: 70vh;
    width: 100%;
    background-image: url(./assets/Property/7b3bd15cb29896266635da0cd5b95b03.jpg);
    border-radius: 36px;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: 0;
  }
  .helping-container .need-help {
    width: 60%;
    padding: 4.5vw 0 4vw 4vw;
    position: absolute;
    left: 3%;
    top: 6%;
  }
  .helping-container .help-texts .need-help h1 {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 50px;
    line-height: 62px;
    color: var(--white);
    z-index: 3;
  }
  .helping-container .need-help p {
    width: 70%;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 15px;
    line-height: 31px;
    color: var(--white);
    z-index: 3;
  }
  .form {
    width: 28vw;
    padding: 1.2rem;
    background-color: white;
    position: absolute;
    right: 5%;
    top: 10%;
    border-radius: 15px;
  }
  .text-box {
    padding-bottom: 10px;
    width: 100%;
    text-align: justify;
    /* border: 2px solid #E4E4E7; */
    border: none;
  }
  .form-box input {
    width: 100%;
    height: 2.5rem;
    padding-left: 1rem;
  }
  textarea {
    width: 100%;
    height: 13rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #e4e4e7;
    border-radius: 6px;
    background-color: white;
    font-size: 16px;
    resize: none;
  }
  .form-button .send-button {
    width: 100%;
    margin-top: 1rem;
    padding: 10px 0;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    line-height: 25px;
    background-color: var(--black);
  }
  .send-button a {
    color: white;
  }
  /* Need Help Area Ends */
  /* Footer Starts */
footer {
    height: 450px;
    width: 100%;
    padding: 4.5vw;
    margin-top: 3rem;
    width: 100%;
    background-color: black;
  }
  .footer-top {
    /* background-color: pink; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.6);
  }
  .foot-left {
    width: 130%;
    color: white;
    /* background-color: red; */
  }
  .foot-left h6 {
    padding-bottom: 2rem;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    color: var(--white);
  }
  .foot-left td {
    margin-bottom: 10px;
  }
  .collapse {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .foot-mid {
    width: 40%;
    color: white;
  }
  .foot-mid table tr {
    font-size: 15px;
    height: 2rem;
  }
  .foot-right {
    width: 15%;
    color: white;
  }
  .foot-right table tr {
    font-size: 15px;
    height: 2rem;
  }
  .end-footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-logo img {
    height: 32px;
  }
  /* Footer Ends */