@import url('https://fonts.cdnfonts.com/css/satoshi?styles=135009,135007,135002,135000');
:root{
    --ash: #70707B;
    --black: #18181B;
    --white: #ffffff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Satoshi', sans-serif;
    /* background-color: #70a55d; */
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
p{
    color: var(--ash);
}
@media (min-width: 992px) {
    /* Hero-Area Starts */
    /* Navigation Area Starts */
    nav{
        position: absolute;
        top: 0;
        left: 0;
        height: 83px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
        box-shadow: 0px 13px 63px 0px rgba(0,0,0,0.3);
        z-index: 2;
    }
    nav .logo{
        padding: 25.5px 80px;
    }
    nav .logo img{
        height: 32px;
        /* margin: 25.5px 80px; */
    }
    header nav .middle{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .middle a{
        margin: 4px 12px;
        font-size: 14px;
        font-weight: 400;
        color: var(--white);
        padding: 4px 12px;
        line-height: 22px;
    }
    .contact-us{
        margin: 19px 80px;
        padding: 10px 18px;
        border: none;
        border-radius: 12px;
        font-size: 16px;
    }
    /* Navigation Area Ends */
    
    .Hero-Area{
        background-color: black;
        position: relative;
    }
    .bg-img{
        height: 100vh;
        width: 100%;
        background: url(./assets/Home/hero-area-bg.png);
        background-size: cover;
        background-position: center;
        opacity: 0.6;
        z-index: -1;
    }
    .Hero-Area h1{
        color: white;
    }
    .hero-details{
        display: flex;
    }
    .bold-text{
        margin: 0 5%;
        font-size: 80px;
        position: absolute;
        top: 65%;
    }
    .bold-text p{
        font-weight: 400;
        line-height: 114px;
        color: white;
    }
    .bold-text span{
        font-weight: 700;
    }
    .bold-text img{
        position: absolute;
        height: 80px;
        right: -10%;
        top: 60%;
    }
    .portrait-img{
        width: 212px;
        height: 460px;
        background-color: rgba(255, 255, 255, 0.24);
        display: flex;
        flex-direction: column;
        position: absolute;
        border-radius: 12px;
        border: 1px;
        padding: 8px;
        /* gap: 12px; */
        top: 30%;
        right: 5%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .portrait-img img{
        height: 140px;
        width: 196px;
        border-radius: 12px;
    }
    /* Hero-Area Starts */
    /* Body Area Starts */
    .headlines{
        margin: 5%;
        display: flex;
        justify-content: space-between;
        height: 40%;
    }
    .left-text{
        width: 50%;
    }
    .left-text h1{
        font-weight: 400;
        font-size: 52px;
        line-height: 62.4px;
        color: var(--black);
    }
    .right-text{
        width: 50%;
    }
    .right-text p{
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
    }
    .learn{
        margin: 32px 0;
        padding: 10px 22.5px;
        border: none;
        border-radius: 12px;
        font-size: 16px;
        line-height: 25px;
        background-color: var(--black)
    }
    .learn a{
        color: white;
    }
    .body-area{
        width: 100%;
    }
    .body-area .images{
        height: 60%;
        margin: 5%;
        display: flex;
        position: relative;
    }
    .images img{
        border-radius: 12px;
        margin-bottom: 24px;
    }
    .images .exp-team{
        /* position: absolute; */
        left: 0;
        top: 0;
    }
    .images .innovation{
        /* position: absolute; */
        left: 28%;
        top: 100px;
    }
    .images .client{
        /* position: absolute; */
        left: 60%;
        top: 0;
    }
    .img1 .exp-team img{
        /* height: 28.3%; */
        width: 80%;
    }
    .img2 .innovation img{
        width: 80%;
        margin: 160px 0 6px;
        
        /* height: 200px; */
        /* height: 30%; */
    }
    .img3 .client img{
        /* height: 40%; */
        width: 90%;
    }
    .images h2{
        font-weight: 400;
        font-size: 24px;
        line-height: 28.8px;
        margin-bottom: 8px;
    }
    .images p{
        font-weight: 400;
        font-size: 16px;
        line-height: 24.8px;
        margin-bottom: 80px;
        display: inline;
    }
    .property-details{
        padding: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .property-details .info h2{
        font-weight: 400;
        font-size: 52px;
        line-height: 62.4px;
        letter-spacing: -2%;
        color: var(--black);
    }
    .property-container{
        margin: 4% 5% 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .property-container .img-view-more{
        margin: 32px 0;
        padding: 10px 25.5px;
        border: none;
        border-radius: 12px;
        font-size: 16px;
        line-height: 25px;
        background-color: var(--black)
    }
    .img-view-more a{
        color: white;
    }
    .property-wrapper h3{
        font-weight: 500;
        font-size: 24px;
        line-height: 28.8px;
        color: var(--black);
        margin-bottom: 5px;
    }
    .property-wrapper p{
        font-weight: 500;
        font-size: 14px;
        line-height: 21.7px;
        gap: 24px;
        /* margin-bottom: 80px; */
    }
    .home-img{
        display: inline-flex;
        /* gap: 15px; */
        position: relative;
        padding-right: 2px;
    }
    .property-img .home-img .prop1 img{
        width: 400px;
        height: 320px;
        border-radius: 12px;
        margin-bottom: 16px;
    }
    .property-wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* gap: 16px; */
    }
    .property-wrapper .hover1 a, .hover2 a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        /* margin: 32px 0; */
        padding: 8px 12px;
        border: none;
        border-radius: 22px;
        font-size: 16px;
        line-height: 25px;
        background-color: var(--black);
        color: var(--white);
        position: absolute;
    }
    .hover1 a{
        right: 108px;
        top: 16px;
    }
    .hover2 a{
        right: 16px;
        top: 16px;
    }
    /* .property-wrapper .hover2 a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        border: none;
        border-radius: 22px;
        font-size: 16px;
        line-height: 25px;
        background-color: var(--black);
        color: var(--white);
    } */
    .property-wrapper .hover1{
        color: var(--white);
    }
    .home-img .hover1 img{
        width: 20px;
        height: 20px;
    }
    .home-details{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;
        border-bottom: 2px solid rgba(128, 128, 128, 0.397);
    }
    .home-details .name img{
        width: 20px;
        height: 20px;
    }
    .home-details .price-time{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .property-img .specs{
        margin-bottom: 20px;
    }

    
    /* Body Area Ends */

}